<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Multiple Browser Suit">
    <test name="TestFireFox">
        <parameter name="Browser" value="FF"/>
        <classes>
            <class name="TestRun"/>
        </classes>
    </test>
    <test name="TestChrome">
        <parameter name="Browser" value="CD"/>
        <classes>
            <class name="TestRun"/>
        </classes>
    </test>
</suite>